<div class="profile clearfix">
<%= user_avatar(@user)%>
  <div><%= link_to @user.first_name+ ' ' + @user.last_name, user_path(@user[:id])%></div>
  <div><%= @user.email%></div>
  <div class="tweet-actions">
    <%= link_to 'Edit', edit_user_path(@user[:id]) if @user == current_user%>
  </div>
</div>
<div class="stats">
  <table>
    <tbody>
      <tr>
        <th>Tweets</th>
        <th>Followings</th>
        <th>Followers</th>
      </tr>
      <tr>
        <td>
          <%= link_to @user.tweets.count, user_tweets_path(user_id: @user.id)%>
        </td>
        <td>
          <%= link_to @user.followings.count, followings_user_path(@user.id)%>
        </td>
        <td>
          <%= link_to @user.followers.count, followers_user_path(@user.id)%>
        </td>
      </tr>
    </tbody>
  </table>
</div>
