  <div>
	<% @users.each do |user|%>
		<%= user.first_name + ' ' + user.last_name %>
		<%=link_to 'View Tweets', user_path(user[:id]), class: "btn btn-large" %>
    <% if current_user.id != user.id %>
      <% if current_user.following?(user) %>
          <%=link_to 'Unfollow', render: 'unfollow' class: "btn btn-large" %>
          <% else %>
          <%=link_to 'Follow', following_path(user), class: "btn btn-large" %>
        <% end %>
    <% end %>
    <br>
	<% end %>
</div>
<%=link_to 'Home', tweets_path, class: "btn btn-primary"  %>
